body {
    font-weight: bolder;
    background-color: grey;
}
ul{
    list-style-type: none;
}
#main {
    background-color: rgb(120, 10, 10);
    color: white;
    padding: 1em;
}
#card-list {
    background-color: rgb(120, 10, 10);
    font-size: 1.3em;
}
.colorful {
    align-content: center;
    margin: 1em;
    font-size: 1.3em;
}
.quantity {
    text-align: center;
    margin: 0 .5em;
    
}
.inline{
    display: inline;
}
.inline > *{
    display: inline;
    padding: .5em;
    margin: .1em;
    border: 1px solid black;
}
.hidden{
    display: none;
}
#filter-list{
    position: absolute;
    text-align: left;
    left: 60%;
    top:.2em;
    background-color: rgb(120, 10, 10);
    border: 4px solid black;
}
.card-item{
    margin: 5px 0 5px 10vw;
    background-image: linear-gradient(to right, rgb(120, 10, 10), rgb(10, 10, 10),rgb(10, 10, 10),rgb(10, 10, 10), rgb(120, 10, 10));
    color: white;
    width: 80vw;
}
.bg{
    text-align: center;
    background-color: rgb(120, 10, 10);
    color: white;
    margin: 1em;
    padding: 1em;
    /* border: 1px solid black; */
}
input.bg{
    margin-left: 45vw;
    width: 10vw;
    border: 4px solid black;
}
ul.bg{
    padding: 0;
}
#filter-list > li {
    margin: 0 8px 0 -32px;
}
.btn{
    text-align: center;
    background-color: gray;
    color: white;
    margin: 1em;
    padding: 1em;
}
.focused{
    border: 1px solid white;
}
#new-card-number{
    text-align: center;
    font-size: 1.5em;
}
#card-name{
    font-size: 1.8em;
}